html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header Section*/

header {
    display: flex;
    height: 64px;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: white;
    z-index: 1;
}

header img {
    padding-left: 24px;
    width: auto;
}

header span {
    text-transform: uppercase;
    height: 32px;
}

header #colmar {
    font-weight: bold;
}

header #academy {
    color: gray;
    
}

nav {
    padding-right: 24px;
    margin-left: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

a {
    color: slategrey; 
    text-decoration: none;
    font-size: 1.1vw;
}

.on-campus, .online, .for-companies {
    padding-right: 16px;
}

/*Learn Something Section*/

#learn-something {
    position: relative;
    background-color:rgb(191, 191, 191);
    width: 100%;
    display: flex;
    align-items: center;
}

#learn-something img {
    width: 60%;
    padding: 32px 24px; 
    margin-top: 64px;
}

.button {
    background-color: rgb(64, 64, 64);
    border: none;
    color: white;
    height: 5rem;
    width: 80%;
    font-size: 1.5vw;
}

#text-button {
    padding-right: 1em;
    color: rgb(64, 64, 64);
    width:35%;
}

#text-button h2 {
    font-weight: 900;
    font-size: 3vw;
    flex-shrink: inherit;
}

#text-button h3 {
    font-weight: 600;
    font-size: 1.5vw;
}

/*Online Section*/

#online {
display: flex;
}

.practice {
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
    color: rgb(64, 64, 64);
   border-right: 1px solid rgb(191, 191, 191);
}

.practice img {
    width: 50vw;
    
}

.practice h2 {
    font-size: 3vw;
    padding-bottom: 24px;
    width: 50vw;
}

.practice h3 {
    font-size: 1vw;
    font-weight: 200;
    width: 50vw;
}

.practice h6 {
    font-size: 1vw;
    font-weight: 400;
}

/*Side Panels Section*/

.side-panels {
    width: 40%;
    
}

.side-panels .orientation, .side-panels .our-campus, .side-panels .guest-lecture {
    display: flex;
}

.orientation  img, .our-campus img, .guest-lecture img {
    height: auto;
    width: 35%;
    padding: 16px 16px;
}

.guest-lecture {
    background-color: rgb(191, 191, 191);
}

#support-text {
    width: 65%;
    margin: auto;
}